@import './../../../../../styles/style.mixin';

//hamburgerIcon Css

.header {
    background: $lighterBlue;
    section{
      height: 70px;      
      .logged-user-info {
        justify-content: space-between;
        align-items: center;
        margin: 0 $s30 0 0;
        .userIcon {
          height: $s40;
          width: $s40;
          border-radius: 100%;
          background: #fff;
          i {
            font-size: $s20;
            color: $midGray;
          }
        }
        .userInfo {
          color: $State;
          margin: 0 $s10;
          .userName {
            margin: $s0;
          }
          .userDesignation {
            margin: $s0;
            font-size: $s12;
          }
        } 
        .userAction {
          position: relative;
          a {
            cursor: pointer;            
            i {
              color: $State;
              font-size: $s18;
            }
          }
          .dropdown-menu {
            display: none;
            position: absolute;
            margin: $s0;
            padding: $s0;
            list-style: none;
            width: 200px;
            left: -170px;
            top: $s44;
            background: $white;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: $s1 solid #ccc;
            border: $s1 solid $lightGray;
            border-radius: $s4;
            -webkit-box-shadow: $s0 $s6 $s12 $lightGray;
            box-shadow: $s0 $s6 $s12 $lightGray;

            li {
              a {
                font-family: "Work Sans";
                font-size: $s14;
                font-weight: 600;
                line-height: normal;
                color: $defaultDisabledColor;
                padding: $s7 $s15;
                text-decoration: none;
                display: block;
                &:hover {
                  background: $lightGray;
                }
              }
            }
            &.open {
              display: block;
            }
          }
        }
      }
    }
}
  
  /* Icon 2 */
  
  